<div id="profile">
  <div class="card">
    <div class="card-image">
      <% if @profile.image.attached? %>
        <%= image_tag @profile.image %>
      <% else %>
        <%= image_tag 'default_background.png' %>
      <% end %>
      <span class="card-title"><%= @profile.user.username %></span>
      <% if @profile.avatar.attached? %>
        <button class="btn-floating halfway-fab waves-effect waves-light btn-large">
          <%= image_tag @profile.avatar %>
        </button>
      <% else %>
        <button class="btn-floating halfway-fab waves-effect waves-light btn-large">
          <%= image_tag 'default_user.png' %>
        </button>
      <% end %>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col">
          <%= render 'follow_form' %>
        </div>
        <div class="col">
          <%= render 'contact'%>
        </div>
      </div>
  　　 <%= render 'stats' %>  
      <br>
      <p>
        <%= @profile.profile %>
      </p>
    </div>
    <% if current_user?(@profile.user) %>
    <div class="card-action">
      <span>自己紹介を編集する</span>
      <i v-if="!show" @click="show = !show" class="material-icons right">arrow_drop_down</i>
      <i v-else @click="show = !show" class="material-icons right">arrow_drop_up</i>
      <div v-if="show">
        <br><br>
        <%= form_with model: @profile, local: true do |f| %>
          <%= f.label :profile, '自己紹介' %>
          <%= f.text_area :profile, class: 'profile-form' %>
          <br><br>
          <label for="update-profile">
            <a class="waves-effect waves-light btn pink"><i class="material-icons right">send</i>編集</a>
            <%= f.submit id: 'update-profile', class: 'hide' %>
          </label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "profile" %>
