<div id="profile">
  <div class="card">
    <div class="card-image">
      <% if @profile.image.attached? %>
        <%= image_tag @profile.image %>
      <% else %>
        <%= image_tag 'default_background.png' %>
      <% end %>
      <span class="card-title"><%= @profile.user.username %></span>
      <% if @profile.avatar.attached? %>
        <button class="btn-floating halfway-fab waves-effect waves-light btn-large">
          <%= image_tag @profile.avatar %>
        </button>
      <% else %>
        <button class="btn-floating halfway-fab waves-effect waves-light btn-large">
          <%= image_tag 'default_user.png' %>
        </button>
      <% end %>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col">
          <%= render 'follow_form' %>
        </div>
        <% if !current_user?(@profile.user) %>
          <div class="col">
            <%= render 'contact'%>
          </div>
        <% end %>
      </div>
  　　 <%= render 'stats' %>  
      <br>
      <p>
        <%= @profile.profile %>
      </p>
    </div>
    <% if current_user?(@profile.user) %>
    <div class="card-action">
      <span>自己紹介を編集する</span>
      <i v-if="!show" @click="show = !show" class="material-icons right">arrow_drop_down</i>
      <i v-else @click="show = !show" class="material-icons right">arrow_drop_up</i>
      <div v-if="show">
        <br><br>
        <%= form_with model: @profile, local: true do |f| %>
          <%= f.label :profile, '自己紹介' %>
          <%= f.text_area :profile, class: 'profile-form' %>
          <br><br>
          <label for="update-profile">
            <a class="waves-effect waves-light btn pink"><i class="material-icons right">send</i>編集</a>
            <%= f.submit id: 'update-profile', class: 'hide' %>
          </label>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <button class="waves-effect waves-light btn profile-btn" @click="showNumber = 1"><i class="material-icons left">brush</i>投稿</button>
    </div>
    <div class="col">
      <button class="waves-effect waves-light btn profile-btn" @click="showNumber = 2"><i class="material-icons left">favorite</i>お気に入り</button>
    </div>
    <div class="col">
      <button class="waves-effect waves-light btn profile-btn" @click="showNumber = 3"><i class="material-icons left">grade</i>イベント</button>
    </div>
  </div>
  <div class="post" v-if="showNumber == 1">
    <div class="card-panel">
      <span>
        あなたの投稿が表示されます。
      </span>
    </div>
    <% if @profile.user.posts %>
      <% @profile.user.posts.each do |post| %>
        <div class="card">
          <% if post.image.attached? %>
            <div class="card-image">
              <%= image_tag post.image %>
            </div>
          <% end %>
          <div class="card-content">
            <% if post.user.profile.avatar.attached? %>
              <%= image_tag post.user.profile.avatar, class: 'btn-floating '%>
            <% else %>
              <%= image_tag 'default_user.png', class: 'btn-floating '%>
            <% end %>
            <%= post.user.username %>
            <p><%= post.content %></p>
            <small><%= post.created_at.to_s(:datetime_jp)%></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="favorite" v-if="showNumber == 2">
    <div class="card-panel">
      <span>
        あなたのお気に入りの投稿が表示されます。
      </span>
    </div>
    <% if @profile.user.like_posts %>
      <% @profile.user.like_posts.each do |post| %>
        <div class="card">
          <% if post.image.attached? %>
            <div class="card-image">
              <%= image_tag post.image %>
            </div>
          <% end %>
          <div class="card-content">
            <% if post.user.profile.avatar.attached? %>
              <%= image_tag post.user.profile.avatar, class: 'btn-floating '%>
            <% else %>
              <%= image_tag 'default_user.png', class: 'btn-floating '%>
            <% end %>
            <%= post.user.username %>
            <p><%= post.content %></p>
            <small><%= post.created_at.to_s(:datetime_jp)%></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="event" v-if="showNumber == 3">
    <div class="card-panel">
      <span>
        あなたの参加予定のイベントが表示されます。
      </span>
    </div>
    <% if @profile.user.join_events %>
      <% @profile.user.join_events.each do |event| %>
        <div class="card">
        <div class="card-content">
          <%= link_to profile_path(event.user) do %>
            <% if event.user.profile.avatar.attached? %>
              <button class="btn-floating"><%= image_tag event.user.profile.avatar %></button>
            <% else %>
              <button class="btn-floating"><%= image_tag 'default_user.png' %></button>
            <% end %>
          <% end %>
          <%= event.user.username %>
          <span class="card-title"><%= event.title %></span></button>
          <p><%= event.content %></p>
          <% if current_user?(event.user) %>
            <i class="material-icons small right grey-text delete" @click="deleteEvent(<%= event.id %>)">delete</i>
          <% end %>
          <br>
        </div>
        <div class="card-action">
          <%= link_to '詳細を見る', event_path(event) %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "profile" %>
