<small>あなたがフォローしているユーザ</small>
<ul class="collection">
  <% @user.followings.each do |following| %>
    <li class="collection-item avatar">
      <%= link_to profile_path(following.profile) do %>
        <% if following.profile.avatar.attached? %>
          <%= image_tag following.profile.avatar, class: 'circle' %>
        <% else %>
          <%= image_tag 'default_user.png', class: 'circle'%>
        <% end %>
      <% end %>
      <span class="title"><%= following.username %></span>
      <% if following.profile.profile %>
        <small style="display: block; width: 70%;"><%= following.profile.profile %></small>
      <% else %>
        <small style="display: block; width: 70%;">自己紹介文が設定されていません.</small>
      <% end %>
    </li>
  <% end %>
</ul>
    