<nav class="nav-wrapper indigo">
  <div class="container">
    <%= link_to 'Mates', root_path, class: 'brand-logo', style: 'font-family: "Dancing Script", cursive;'%>
     <a href="#" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in?%>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to '登録', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-links">
  <% if user_signed_in?%>
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag 'default_background.png' %>
      </div>
     
        <%= image_tag 'default_user.png', class: 'circle z-depth-3' %>
      
      <p class="white-text name"><%= current_user.username %></p>
      <p class="white-text email"><%= current_user.email %></p>
    </div>
  </li>
  <li>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </li>
  <% else %>
    <li>
      <%= link_to '登録', new_user_registration_path %>
    </li>
    <li>
      <%= link_to 'ログイン', new_user_session_path %>
    </li>
  <% end %>
</ul>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $(document).ready(function () {
    $('.sidenav').sidenav();
  })
</script>