<ul class="collection with-header">
  <li class="collection-header"><h4>Mates</h4></li>
  <% if user_signed_in? %>
    <% if current_user.profile %>
      <li class="collection-item">
        <%= link_to 'プロフィール', profile_path(current_user.profile) %>
      </li>
      <li class="collection-item">
        <%= link_to '投稿', new_post_path %>
      </li>
      <li class="collection-item">
        <%= link_to 'イベント一覧', events_path %>
      </li>
      <li class="collection-item">
        <%= link_to 'イベント開催', new_event_path %>
      </li>
      <li class="collection-item">
        <%= link_to 'メッセージ', rooms_path %>
      </li>
      <li class="collection-item">
        <%= link_to 'シェアハウス一覧', houses_path %>
      </li>
      <% if current_user.house %>
        <li class="collection-item">
          <%= link_to 'マイシェアハウス', house_path(current_user.house) %>
        </li>
      <% else %>
        <li class="collection-item">
          <%= link_to 'マイシェアハウス', new_house_path %>
        </li>
      <% end %>
    <% else %>
      <li class="collection-item">
        <%= link_to 'まずプロフィールを設定する。', new_profile_path %>
      </li>
    <% end %>
  <% else %>
    <li class="collection-item">
      <%= link_to '登録', new_user_registration_path %>
    </li>
    <li class="collection-item">
      <%= link_to 'ログイン', new_user_session_path %>
    </li>
  <% end %>
</ul>