<div id="posts">
  <% if @posts %>
    <% @posts.each do |post| %>
      <transition name="fade">
        <div v-if="id !== <%= post.id %>" class="card">
          <div class="card-image">
            <% if post.image.attached? %>
              <%= image_tag post.image %>
            <% end %>
          </div>
          <div class="card-content">
            <%= link_to profile_path(post.user.profile) do %>
              <% if post.user.profile.avatar.attached? %>
                <%= image_tag post.user.profile.avatar, class: 'btn-floating' %>
              <% else %>
                <%= image_tag 'default_user.png', class: 'btn-floating' %>
              <% end %>
            <% end %>
            <span><%= post.user.username %></span>
            <% if current_user?(post.user) %>
              <i class="material-icons small right grey-text delete" @click="deletePost(<%= post.id %>)">delete</i>
            <% end %>
            <% if user_signed_in? %>
              <like-button :user-id="<%= current_user.id %>" :post-id="<%= post.id %>"></like-button>
            <% end %>
            <hr>
            <p><%= post.content %></p>
            <small><%= post.created_at.to_s(:datetime_jp) %></small>
          </div>
          <% if user_signed_in? %>
            <div class="card-action">
              <small>
                <% if current_user.profile.avatar.attached? %>
                  <%= image_tag current_user.profile.avatar, class: 'btn-floating btn-small' %> コメント...
                <% else %>
                  <%= image_tag 'default_user.png', class: 'btn-floating btn-small' %> コメント...
                <% end %>
              </small>
              <span class="right" v-if="postId !== <%= post.id %>" @click="showComment(<%= post.id %>)"><i class="material-icons">arrow_drop_down</i></span>
              <span class="right" v-else @click="hideComment(<%= post.id %>)"><i class="material-icons">arrow_drop_up</i></span>
              <div v-if="postId === <%= post.id%>">
                <comments-area :postid="<%= post.id %>"></comments-area>
              </div>
            </div>
          <% end %>
        </div>
      </transition>
    <% end %>
  <% end %>
</div>

<%= javascript_pack_tag "posts" %>
<%= stylesheet_pack_tag "posts" %>
