<div class="row" id="event-detail">
  <div class="card">
    <div class="card-content">
      <% if @event.user.profile.avatar.attached? %>
        <button class="btn-floating"><%= image_tag @event.user.profile.avatar %></button>
      <% else %>
        <button class="btn-floating"><%= image_tag 'default_user.png' %></button>
      <% end %>
      <%= @event.user.username %>さん
      <h5><%= @event.title %></h5>          
      <p><%= @event.content %></p>
      <br><br>
      開催場所: <%= @event.address %>
      <i class="material-icons">location_on</i>
      <div  id="map" style="height: 200px; width: 90%;">
      </div>
      <br>
      開催日: <%= @event.date %>
      <br>
      参加費: 
      <% if @event.paid %>
        有料 
        <% if @event.price %>
          <%= @event.price %>円
        <% end %>
      <% else %>
        無料
      <% end %>
      <br><br>
      <% if !current_user?(@event.user) %>
        <% if Participant.find_by(event_id: @event.id, user_id: current_user.id)%>
          <%= form_with url: participant_path, method: :delete, local: true do |f| %>
            <%= f.hidden_field :event_id, :value => @event.id %>
            <label for="delete-btn">
              <button class="waves-effect waves-light btn pink">参加を止める</button>
              <%= f.submit '参加を止める', class: 'hide', id: 'delete-btn'%>
            </label>
          <% end %>
        <% else %>
          <%= form_with url: participants_path, method: :post, local: true  do |f| %>
            <%= f.hidden_field :event_id, :value => @event.id %>
            <label for="btn">
              <button class="waves-effect waves-light btn indigo">参加する！</button>
              <%= f.submit '参加する', class: 'hide', id: 'btn'%>
            </label>
          <% end %>
        <% end %>
      <% end %>
      <div class="valign-wrapper col" @click="show = !show" v-if="!show"><small>参加者一覧</small><i class="material-icons">arrow_drop_down</i></div>
      <div class="valign-wrapper col" @click="show = !show" v-else><small>参加者一覧</small><i class="material-icons">arrow_drop_up</i></div>
      <br>
      <div class="card" v-if="show">
        <div class="card-content">
          <% @event.joiners.each do |joiner| %>
            <%= link_to profile_path(joiner.profile) do %>
              <% if joiner.profile.avatar.attached? %>
                <button class="btn-floating"><%= image_tag joiner.profile.avatar %></button>
              <% else %>
                <button class="btn-floating"><%= image_tag 'default_user.png'%></button>
              <% end %>
            <% end %>
            <%= joiner.username %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDR4RrRRiuty9o2rOCZq3ZvfSeEjfUm0aQ&callback=initMap", async: true, defer: true %> 
<%= javascript_pack_tag "eventDetail" %>

  <script>
  function initMap() {
    var test ={ lat: <%= @event.latitude %>, lng: <%= @event.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= @event.address  %> ";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

</script>
